*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: "Nerko One", Arial, Helvetica;
}

.contenitore{
    width: 65%;
    margin: auto;
    text-align: center;

    /*test*/
    background-color: lightcoral;
}

.carta img{
    width: 100%;
    display: none;
}

.carta:hover{
    background-image: none;
}

.carta:hover img{
    display:block;
}
/*FINE GENERAL*/


/*MAIN*/
.carta{
    width: 20%;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url(../img/sfondo.png);
    background-size: contain;
    /*test*/
    background-color:white;
}


/*FINE MAIN*/

